*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.5s;
    /* border: 2px solid red; */
}

body{
    background-color: rgb(62, 61, 58);
}

.container{
    width: 65vw;
    min-height: 100vh;
    background-color: white;
    margin: auto;
    padding: 5vh;
}

.container>h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    margin: 1vmax 1vmax 3vmax 1vmax;
}

#form{
    display: flex;
    flex-direction: column;
}

#form > input{
    margin: 0.7vmax;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form > input:focus{
    outline: none;
    color: rgba(50, 50, 50, 0.8);

}

#form > #title{
    height: 2.5vmax;
    font-size: 1.5vmax;
    font-weight: 300;
}

#form > #description{
    height: 3.3vmax;
    font-size: 2vmax;
    font-weight: 200;
}

#addBtn{
    margin: 0.8vmax;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 2.7vmax;
    background-color: black;
    color: #fff;
    font-size: 1.3vmax;
    transition: all 0.5s;
    cursor: pointer
}

#addBtn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}


#taskList{
    /* border: 2px solid red; */
    margin: 1vmax 0;
    padding: 3vmax;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 182, 184);
    margin:  2vmax 0;
    padding: 10px;
    border-radius: 5px;
}

.task div{
    width: 90%;
}

.task .title{
    color: #fff;
    transition: all 0.5s;
}

.task button{
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: larger;
    background-color: rgba(213, 14, 14, 0.824);
    border: none;
    cursor: pointer; 
    border-radius: 50px;
}

.delete:hover .task{
    background-color: black;

}